<!doctype html>
<!--[if lt IE 7]>   <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>      <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>      <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" prefix="og: http://ogp.me/ns#" > <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="Application-Name" content="GiG Address Book" />
        <!-- prod:script-new-relic -->
        <meta name="apple-mobile-web-app-title" content="GiG Address Book">
        <meta name="HandheldFriendly" content="true" />
        <meta name="Robots" content="index, follow" />
        <meta name="viewport"
              content="width=device-width, minimum-scale=1, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-transparent" />

        <title><%= htmlWebpackPlugin.options.defaultTitle %></title>
        <meta name="description" content="Best app on market" />
        <meta name="keywords" content="app, gig" />
    </head>
    <body class="Body">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated browser</strong>. Please <a href="http://browsehappy.com/">update your browser</a> to improve your online experience.</p>
        <![endif]-->

        <!-- app node entry -->
        <div id="App" class="App"></div>

        <!-- Load CSS files -->
        <% for(var i=0; i < htmlWebpackPlugin.files.css.length; i++ ) { %>
            <link rel="stylesheet prefetch" type="text/css" media="all" href="<%= htmlWebpackPlugin.files.css[i] %>" />
        <% } %>

        <!-- Load JS files -->
        <% for (var i=0; i < htmlWebpackPlugin.files.js.length; i++ ) { %>
            <script <% if (i === 1) { %> async <% } %>
                src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
        <% } %>
    </body>

</html>
